<div class="mainbooking">
  <div class="ui grid">
    <div class="ui text container">
      <p class="maintextheading"> Booking </p>
    </div>
  </div>
</div>

<div class="bookingform">

  <div class="ui segments">
    <div class="ui segment">
      <form class="searchResort ui large form" action="/search" method="POST">
        <div class="ten wide field">
          <label>Resort</label>
          <select name="resortSelect" class="ui search dropdown">
            <option value="">Select Resort</option>
            <option value="Berjaya Tioman Resort"> Tioman Island -- Berjaya Tioman Resort </option>
            <option value="Paya Beach Resort"> Tioman Island -- Paya Beach Resort </option>
            <option value="Panuba Inn"> Tioman Island -- Panuba Inn </option>
            <option value="D'Coconut Beach Resort"> Pulau Besar -- D'Coconut Island Resort </option>
            <option value="Aseania Beach Resort"> Pulau Besar -- Aseania Beach Resort </option>
          </select>
        </div>
        <button class="ui teal basic button" type="submit">Search Resorts</button>
      </form>
    </div>
    <div class="ui segment">
      <% if(resortpackage) { %>
        <% for (var i = 0; i < resortpackage.length; i++) { %>
          <% var resort = resortpackage[i]; %>
          <div class="ui card">
            <div class="resortDescription content">
              <h5 class="header"><strong>Resort:</strong> <%= resort.resort %></h5>
              <h5 class="meta"><strong>Island:</strong><%= resort.island %></h5>
              <h5><strong>Room Type:</strong> <%= resort.roomType %></h5>
              <h5><strong>Package Type:</strong> <%= resort.packageType %></h5>
              <h5><strong>Price Per Person Per Night:</strong> SGD$ <%= resort.price %></h5>
              <form action="/chooseResort" method="POST">
                <input type="hidden" name="packageId" value="<%= resort.id %>">
                <button class="order-button ui basic teal button" type="submit">
                  Choose Package
                </button>
              </form>
            </div>
          </div>


          <% } %>
          <% } %>
        </div>
      </div>
    </div>

    <div class="resortList">
    </div>
